:root {
    --accent-clr: #ffde59;
    --color: 255, 222, 89;
}

/* ===========
header styling 
============== */

body {
    /* font-family: source-serif-pro, serif; */
    font-weight: 400;
    font-style: normal;
    background-color: rgb(249, 249, 249);
    height: 100vh;
    /* font-family: 'Montserrat', sans-serif; */
}

body header {
    max-width: 100%;
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
    margin: auto;
}

header section { 
    max-width: 1400px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

#logo {
    max-width: 80px;
}

#logo:hover {
    cursor: pointer;
    transform: translateY(-0.25rem)
}

#search-container {
    margin-right: auto;
    padding-left: 30px;
}

#search-bar {
    border-radius: 20px;
}

#search-icon {
    margin-right: 3px;
}

nav {
    list-style: none;
    padding-right: 20px;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    transition: .3s;
    font-size: 1.1rem;
    color: #6b7270;
}

nav li:hover {
    cursor: pointer;
}

nav li a {
    text-decoration: none;
    color: #6b7270;
}

.nav-effect::before {
    content: "";
    display: block;
    height: 0.25rem;
    bottom: 0;
    left: 100%;
    width: 50%;
    margin-bottom: -1.5px;
    background-color: var(--accent-clr);
    position: absolute;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  }
  
  .nav-effect::after {
    content: "";
    display: block;
    height: 0.25rem;
    top: 0;
    right: 100%;
    width: 50%;
    margin-top: -1px;
    background-color: var(--accent-clr);
    position: absolute;
    transition:  cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  }

  .nav-effect:hover::before {
    left: 0;
  }

  .nav-effect:hover::after {
    right: 0;
  }

  .notification:hover {
      color: var(--accent-clr);
      animation: shake 250ms;
      animation-iteration-count: 1;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .logout-button {
    border: none;
    border-radius: 222px;
    background-color: var(--accent-clr);
    color: rgb(114, 114, 114);
    width: 53px;
    height: 25px;
  }

  .logout-button:hover {
      cursor: pointer;
  }

  /* @media (max-width: 1100px) {
    nav li {
        margin-right: 17px;
    }

    .logout-button {
        font-size: .7rem;
        width: 45px;
      }
  }

  @media (max-width: 635px) {
    nav li {
        font-size: .9rem;
        margin-right: 14px;
    }

    .logout-button {
        font-size: .7rem;
        width: 45px;
        height: 25px;
      }
  } */

  @media (max-width: 1100px) {
    body header {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 600px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        background-color: white;
    }

    #search-container {
        display: none;
    }

    nav li {
        font-size: 1.3rem;
        margin-left: 20px;
    }

    #logo {
        display: none;
    }

    .logout-button {
        width: 62px;
        font-size: 1rem;
      }

      header section { 
        padding-right: 15px; 
    }

  }

  @media (max-width: 435px) {

    nav li {
        font-size: 1rem;
        margin-right: 10px;
    }

    .logout-button {
        font-size: .7rem;
        width: 45px;
      }

  }

  @media (max-width: 367px) {
    nav li {
        font-size: .9rem;
        margin-right: 0px;
        margin-left: 10px;
    }

  }

  /* =============
   profile styling  
   ============= */

   .split {
        display: grid;
        max-width: 1500px;
        margin: auto;
        grid-template-columns: 1fr .4fr;
        grid-template-rows: 1fr ;
   }

   .column2 {
        border-left: .03rem solid rgba(111, 111, 111, 0.46);
        margin: auto;
        height: 100%;
    }

   .name-pic {
       display: flex;
       flex-direction: row;
       margin-top: 50px;
   }

   #user-name {
       margin: 42px 0 0 20px;
       font-size: 1.2rem;
   }

   #avatar {
       width: 120px;
       border-radius: 50%;
       margin-left: 30px;
   }

   #follow-btn {
       font-size: 1.1rem;
       background-color: var(--accent-clr);
       border: none;
       border-radius: 30px;
       margin: 50px 0 0 150px;
       width: 150px;
       height: 30px
   }

   #bio, #links, #edit-prof, #upload {
       width: 300px;
       margin: 40px 0 0 45px;
   }

   #bio-text {
       white-space: pre-wrap;
   }

   #links a { 
       text-decoration: none;
       color: black;
   }

   #links-ul li {
       list-style: none;
       
   }

   #links-ul {
        padding-left: 0;
   }

   #links a:hover, .bio-btns p:hover, #edit-prof:hover, .edit-bio:hover, .edit-links:hover {
        cursor: pointer;
        color: var(--accent-clr);
   } 

   .bio-btns, #edit-prof {
       color: #939393;
   }

   .column1 {
       margin:  0 auto;
       height: 100vh;
   }


   .post-card {
    /* display: flex;
    height: 100px;
    margin: 10% 20px 0 20px;
    background-color: #e4e4e4;
    border-radius: 8px; */
    /* text-align: center; */
    /* font-size: 100%; */
    /* overflow: auto; */
    }
    
    .self-user-name {
        padding: 20px;
    }

   .project-picture {
       width: 500px;
       
   }

   @media (max-width: 790px) {
        .proj-card {
            font-size: 2vw;
            height: 40%;
        }

        .project-picture {
            max-width: 40%;
            padding: 0 20px 0 0;
        }

   }

   .proj-p {
      
       
   }

   @media (max-width: 1100px) {
    .split {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
        grid-template-columns: none;
        grid-template-rows: none ;
    }

    .column2 {
        display: flex;
        border-left: none;
        margin: auto;
        height: 175px;
        order: 1;
    }

    .column1 {
        order: 2;
    }

    #bio, #links {
        display: none;
    }

    #user-name {
        margin: 32px 0 0 20px;
    }

    #follow-btn {
        font-size: 1.1rem;
        background-color: var(--accent-clr);
        border: none;
        border-radius: 30px;
        margin: 78px 0 0 100px;
        width: 150px;
        height: 30px
    }


}

.project-users {
    margin: 5px;
}      

@media only screen and (max-width : 600px) {
    #prelogin-logo {
        margin-left: 2%;
        margin-top: 40%;
        width: 100%;
        height: 100%;
        margin-bottom: -70px;
    }

    #prelogin-link {
        font-size: 100px;
        font-weight: 900;
        letter-spacing: 10px;
        color: rgba(255,222,89,255);
        text-decoration: none;
        margin-left: 50%;
    }

    #login-logo {
        width: 70%;
        position: fixed;
        
    }

    /* .forms {
        text-align: center;
        margin-top: 20%;
        margin-left: 20%;
        margin-right: 20%
    } */

    /* .input-field {
        display: flex;
        flex-direction: column
    } */

    .blockline {
        margin-top: 30%;
        height: 30px;
        background-color: black;
    }

    .post-form-container {
        margin-bottom: 10%;
    }

    .project-form, .post-form {
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    }

    .project-form-input, .post-form-input {
        text-align: center;
    }

    .add-buttons {
        display: flex;
        flex-direction: row;
    }

    .add-button {
        margin: auto;
    }

    .user-icon {
        float: left;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
}

/* ================
 post form styling 
 ================= */
  .user-icon {
    border-radius: 50%;
    margin: 5px;
    width: 50px;
  }

  .btn {
    padding: .5rem 1rem;
    color: #6b7270;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .post-container {
    width: 600px;
    min-height: 100px;
    height: auto;
    border: 1px solid #eaeaea;
    border-radius: .33rem;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #fff;
    margin: 100px auto 50px auto;
    overflow: hidden;
  }
  
  .post-header {
    padding: .2rem .5rem;
    display: flex;
    background-color: #eaeaea;
    color: #3f5563;
  }

  .post-title {
    font-size: 1rem;
    margin-left: 10px;
  }
  
  .post-content {
    width: 100%;
    height: 60%;
  }

  .post-textarea {
    width: 100%;
    height: 75px;
    padding: .5rem;
    border: none;
    resize: none;
  }

  .post-textarea:focus {
    outline: none;
  }

  .project-form-input, .project-form-input:focus {
      padding-left: 8px;
      margin-bottom: 10px;
      border: none;
      border-bottom: solid .5px #cbcbcb;
      outline: none;
  }

  .post-icon {
      font-size: 1rem;
  }

  .post-icon:hover {
      color: var(--accent-clr)
  }

  .post-publish {
    width: 120px;
    background-color: var(--accent-clr);
    color: rgb(136, 136, 136);
    border-radius: 1.5rem;
    margin: 0 0 5px 10px;
  }
  
  /* .scroller::-webkit-scrollbar {
    display: none;
  } */

  ::-webkit-input-placeholder {
    color: #666;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :-ms-input-placeholder {
    color: #666;
  }
  :-moz-placeholder {
    color: #666;
  }

  /* ===========
   login styling 
   ============= */



#login-container {
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

#login-logo {
    max-width: 400px;
    position: fixed;
    top: 45%;
    left: 50%;
    animation: slide 550ms;
    animation-iteration-count: 1;
    transform: translate(-45%, -90%)
}

@keyframes slide {
    0% { transform: translate(-260%, -90%); }
    5% { transform: translate(-250%, -90%); }
    10% { transform: translate(-240%, -90%); }
    15% { transform: translate(-230%, -90%); }
    20% { transform: translate(-220%, -90%); }
    25% { transform: translate(-210%, -90%); }
    30% { transform: translate(-200%, -90%); }
    35% { transform: translate(-190%, -90%); }
    40% { transform: translate(-180%, -90%); }
    45% { transform: translate(-170%, -90%); }
    50% { transform: translate(-160%, -90%); }
    55% { transform: translate(-150%, -90%); }
    60% { transform: translate(-140%, -90%); }
    65% { transform: translate(-130%, -90%); }
    70% { transform: translate(-120%, -90%); }
    75% { transform: translate(-110%, -90%); }
    80% { transform: translate(-100%, -90%); }
    85% { transform: translate(-90%, -90%); }
    90% { transform: translate(-80%, -90%); }
    95% { transform: translate(-70%, -90%); }
    97% { transform: translate(-50%, -90%); }
    100% {transform: translate(-45%, -90%); }
  }

.forms {
    position: fixed; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    
}

.input-field i {
    position: absolute;
}

.input-field {
    width: 110%;
    margin-bottom: 10px;
    color: rgb(96, 96, 96);
}

.input-field p:hover {
    cursor: pointer;
    color: var(--accent-clr);
}

.field:focus {
    outline-color: var(--accent-clr);
}

.icon {
    padding: 20px 15px;
    min-width: 40px;
    color: #9e9e9e;
}

.field {
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #d6d5d551;
}

.field2 {
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #d6d5d551;
}

.button {
    margin-top: 10px;
    width: 220px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: solid .5px #ffde59;
    background-color: var(--accent-clr);
    color: #666
}

.button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

#prelogin-logo {
    position: fixed; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
} */

#prelogin-logo-img {
    max-width: 400px;
    position: fixed;
    top: 45%;
    left: 50%;
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    transform: translate(-45%, -90%);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%	{ filter: drop-shadow(0 0 0px var(--accent-clr));}
    10%	{ filter: drop-shadow(0 0 2px  var(--accent-clr));}
    20%	{ filter: drop-shadow(0 0 4px  var(--accent-clr));}
    30%	{ filter: drop-shadow(0 0 6px  var(--accent-clr));}
    40%	{ filter: drop-shadow(0 0 8px  var(--accent-clr));}
    50%	{ filter: drop-shadow(0 0 10px  var(--accent-clr));}
    60%	{ filter: drop-shadow(0 0 8px  var(--accent-clr));}
    70%	{ filter: drop-shadow(0 0 6px  var(--accent-clr));}
    80%	{ filter: drop-shadow(0 0 4px  var(--accent-clr));}
    90%	{ filter: drop-shadow(0 0 2px  var(--accent-clr));}
    100%{ filter: drop-shadow(0 0 0px  var(--accent-clr));}
  }

#project-display {
    padding-top: 25px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#project-display > img {
    max-width: 350px;
    padding: 10px 10px;
}

#project-display > p {
    max-width: 500px;
    text-align: center;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.project-header span {
    font-size: x-large;
    font-weight: bolder;
}

.project-header img {
    width: auto;
    height: 25px;
}

/* #fork-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
} */

#fork-links a {
    padding: 0px 10px;
}


/* #fork-links a {
    background-color: orange;
} */

#tech-tags span {
    margin: 0px 10px;
    padding: 0px 5px;
    background-color: rgba(var(--color), 0.5);
    color: rgb(114, 114, 114);
    border-radius: 20%;
}

#comment {
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-start;
}

.comment-header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========================
 styling post/project cards 
 ========================= */

#feed-container {
    max-width: 1500px;
    margin:  auto;
}

.post-card-container {
    display: flex;
    justify-content: center;
}

.post-card {
    width: 600px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.proj-card {
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}




#comment-container {
  margin: 0 0 30px 450px;
}

.post-card a, .card-header a, .proj-card a {
    text-decoration: none;
    color: black;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}

.card-header {
    display: flex;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.proj-body a {
    text-decoration: none;
    color: #878787;
}

.proj-body .proj-card-header a {
    margin: auto;
    text-align: center;
}

.post-card p {
    order: 1;
}

#comment-btn {
    background-color: var(--accent-clr);
    border-color: var(--accent-clr);
    border-radius: 50px;
    color: #878787;
}

.card-pic {
    width: 45px;
    border-radius: 50%;
    margin: 10px 0 5px 20px;
}

.post-card p, .proj-card p {
    margin-left: 20px;
}

.footer-container {
    order: 3;
    border-top: 1px solid #eaeaea;
    width: 95%;
    margin: auto;
    text-align: left;
}

.post-card-icon {
    font-size: 25px;
    color: #939393;
    padding: 3px 20px 0 10px;
}

.post-card-icon:hover {
    color: var(--accent-clr);
    cursor: pointer;
}

.field3 {
    margin-top: 13px;
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff51;
}

.new-comment-container {
    display: flex;
    margin-left: -20px;
}

.comment-container {
    margin-top: 20px;
}

#comment {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
}

.comment-body {
    background-color: #eaeaea;
    width: 350px;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
}

.comment-body a {
    padding-left: 10px;
    font-weight: bold;
}

.comment-user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment-submit {
    margin-left: 10px;
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 35px;
    background-color: var(--accent-clr);
    color: #939393;
}

.feed-discover {
    max-width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.feed-discover2 {
    max-width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.feed-discover:after {
    content:'';
    width: 60%;
    height:2px;
    background:var(--accent-clr);
    position:absolute;
    top: 12px;
    right: -150px;
}

.feed-discover:before {
    content:'';
    width: 60%;
    height:2px;
    background:var(--accent-clr);
    position:absolute;
    top: 12px;
    right: 266px;
}

.feed-discover2:after {
    content:'';
    width: 60%;
    height:2px;
    background:var(--accent-clr);
    position:absolute;
    top: 12px;
    right: -150px;
}

.feed-discover2:before {
    content:'';
    width: 60%;
    height:2px;
    background:var(--accent-clr);
    position:absolute;
    top: 12px;
    right: 266px;
}

.feed-btns {
    margin: 0 5px 0 5px;
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #eaeaea
}



.feed-btns:hover {
    cursor: pointer;
    transform: translateY(-5px);
}


.link-icon {
    margin-top: 2px;
    color: #939393;
}


